* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    scroll-behavior: smooth;
}
  
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.one {
    background-image: url("/imgs/HEK_2024.jpg");
    background-size: cover;
    background-position: center;
    justify-content: right;
    padding-right: 5%;
    padding-top:130px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#homeText{
    width:30%;
}

#homeH1{
    font-size: 600%;
}

#homeP{
    font-size: 120%;
    padding-top:25px;
}

.two {
    background: rgb(211, 79, 79);
}
.three {
    background: rgb(67, 91, 175);
}
.four {
    background: lightsalmon;
}