* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}

 .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color:white;
 }

 .myName {
    font-size: 1.5rem;
    margin: .8rem;
}

 .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    background-color:#333;
    
 }

 .navbar-links li {
    list-style: none;
 }

 .navbar-links li a {
    
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    
 }

 .navbar-links li:hover {
    background-color: #555;
 }

 .burger-button{
    position:absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top: .75rem;
    right: 1rem;
    width: 30px;
    height: 25px;
    color:white;
 }

 .burger-button .bar {
    height:3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
 }

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
}

.one {
    background-image: url('./imgs/BGs/HEK_2024.jpg');
    position: relative;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: left;
}

.homeText {
    height: 100vh;
    width: 30vw;
    color: white;
    background-color: rgba(108, 151, 194);
    text-shadow: 2px 2px #333;
    text-align: center;
}

.homeH1 {
    font-size: 5vw;
    padding-top: 23%;
}

.homeP {
    font-size: 2vw;
}

.two {
    height: 110vh;
    background-image: url('./imgs/BGs/HEK_1802.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: left;
    
}

.twoText {
    color: white;
    text-shadow: 2px 2px #333;
    margin-bottom: 15%;
    width: 100vw;
}

.twoH1 {
    margin-bottom: 1rem;
    padding-left: 10%;
    font-size: 5vw;
    text-shadow: 2px 1px black;
}

.twoP {
    font-size: 2vw;
}

.card {
    background: #2D2920;
    padding: 1rem;
    border: 1px solid #777;
    border-radius: .25rem;
    width: 15vw;
    height: 35vh;
}

.card-grid {
    display: flex;
    padding-left: 5%;
    gap: 1%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: flex-start;
}

.card.card-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .9);

}
.card-header {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.card-header.card-image {
    overflow: hidden;
}

.card-header.card-image > img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover; 
}

.card-body {
    font-size: .9rem;
}

.three {
    background-image: url('./imgs/BGs/HEK_2043.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.skillsGrid {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 25%;


}

.skillsImgs{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: center;
    gap: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.skillsImgs .imgStyle {
    width: 5rem;
    margin:auto;
}

.four {
    background-image: url('./imgs/BGs/cool-background.png');
}

.contactBody {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

.contactBody .formBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 42rem;
}

.formBody .contactGreeting {
    padding-bottom: 1.25rem;
    text-align: center;
}

.contactGreeting .contactGreetingText {
    margin: auto;
    display: inline-flex;
    font-size: 2.25rem;
    line-height: 2.5rem;
    border-bottom-width: 4px;
    border-color: rgba(255, 255, 255);
}

.formBody .phName {
    background-color: #261A2B;
    padding: 0.5rem;
}

.formBody .phEmail {
    background-color: #261A2B;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding: 0.5rem;
}

.formBody .phMessage {
    background-color: #261A2B;
    padding: 0.5rem;
}

.formBody .submitBtn {
    display: flex;
    display: inline-flex;
    background-color: #261A2B;
    color: white;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 400px) {

    .navbar {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }

    .burger-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .one {
        background-size: cover;
        background-position: center;
    }

    .homeText {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .homeH1 {
        padding: 0;
        font-size: 3rem;
        text-shadow: 1px 1px #000000;
    }

    .homeP {
        font-size: 2rem;
        text-shadow: 1px 1px #000000;
    }

    #About {
        height: 110vh;
    }

    .two {
        background-size: cover;
        background-position-x: 45%;
    }

    .twoH1 {
        margin:auto;
        padding-left: 0;
        text-align:center;
        font-size: 10vw;
    }


    .card { 
        width: 50vw;
        height: 30vh;
        margin-top: 1rem;
    }

    .card-grid {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .three {
        background-position-x: 35%;
    }
}