* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#333;
    color:white;
 }

 .myName {
    font-size: 1.5rem;
    margin: .5rem;
}

 .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    background-color:#333;
    
 }

 .navbar-links li {
    list-style: none;
 }

 .navbar-links li a {
    
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    
 }

 .navbar-links li:hover {
    background-color: #555;
 }

 .burger-button{
    position:absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top: .75rem;
    right: 1rem;
    width: 30px;
    height: 25px;
    color:white;
 }

 .burger-button .bar {
    height:3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
 }

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.one {
    background-image: url("/imgs/HEK_2024.jpg");
    background-size: cover;
    background-position: center;
    justify-content: right;
    padding-right: 5%;
    padding-top:130px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#homeText{
    width:30%;
}

#homeH1{
    font-size: 600%;
}

#homeP{
    font-size: 120%;
    padding-top:25px;
}

.two {
    background: rgb(211, 79, 79);
}
.three {
    background: rgb(67, 91, 175);
}
.four {
    background: lightsalmon;
}

@media (max-width: 400px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .burger-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}